/**
 * Prism Light Theme
 * Based on UI version prism_light.scss
 */

.prism-light {
  code[class*="language-"],
  pre[class*="language-"] {
    color: #111b27;
    background: 0 0;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  code[class*="language-"] ::-moz-selection,
  code[class*="language-"]::-moz-selection,
  pre[class*="language-"] ::-moz-selection,
  pre[class*="language-"]::-moz-selection {
    background: #8da1b9;
  }

  code[class*="language-"] ::selection,
  code[class*="language-"]::selection,
  pre[class*="language-"] ::selection,
  pre[class*="language-"]::selection {
    background: #8da1b9;
  }

  pre[class*="language-"] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
  }

  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background: #e3eaf2;
  }

  :not(pre) > code[class*="language-"] {
    padding: 0.1em 0.3em;
    border-radius: 0.3em;
    white-space: normal;
  }

  .token.cdata,
  .token.comment,
  .token.doctype,
  .token.prolog {
    color: #3c526d;
  }

  .token.punctuation {
    color: #111b27;
  }

  .token.delimiter.important,
  .token.selector .parent,
  .token.tag,
  .token.tag .token.punctuation {
    color: #006d6d;
  }

  .token.attr-name,
  .token.boolean,
  .token.boolean.important,
  .token.constant,
  .token.number,
  .token.selector .token.attribute {
    color: #755f00;
  }

  .token.class-name,
  .token.key,
  .token.parameter,
  .token.property,
  .token.property-access,
  .token.variable {
    color: #005a8e;
  }

  .token.attr-value,
  .token.color,
  .token.inserted,
  .token.selector .token.value,
  .token.string,
  .token.string .token.url-link {
    color: #116b00;
  }

  .token.builtin,
  .token.keyword-array,
  .token.package,
  .token.regex {
    color: #af00af;
  }

  .token.function,
  .token.selector .token.class,
  .token.selector .token.id {
    color: #7c00aa;
  }

  .token.atrule .token.rule,
  .token.combinator,
  .token.keyword,
  .token.operator,
  .token.pseudo-class,
  .token.pseudo-element,
  .token.selector,
  .token.unit {
    color: #a04900;
  }

  .token.deleted,
  .token.important {
    color: #c22f2e;
  }

  .token.keyword-this,
  .token.this {
    color: #005a8e;
  }

  .token.bold,
  .token.important,
  .token.keyword-this,
  .token.this {
    font-weight: 700;
  }

  .token.delimiter.important {
    font-weight: inherit;
  }

  .token.italic {
    font-style: italic;
  }

  .token.entity {
    cursor: help;
  }

  .language-markdown .token.title,
  .language-markdown .token.title .token.punctuation {
    color: #005a8e;
    font-weight: 700;
  }

  .language-markdown .token.blockquote.punctuation {
    color: #af00af;
  }

  .language-markdown .token.code {
    color: #006d6d;
  }

  .language-markdown .token.hr.punctuation {
    color: #005a8e;
  }

  .language-markdown .token.url > .token.content {
    color: #116b00;
  }

  .language-markdown .token.url-link {
    color: #755f00;
  }

  .language-markdown .token.list.punctuation {
    color: #af00af;
  }

  .language-markdown .token.table-header {
    color: #111b27;
  }

  .language-json .token.operator {
    color: #111b27;
  }

  .language-scss .token.variable {
    color: #006d6d;
  }
}
